#error_msg {
	position: fixed;
	top: 5%;
	left: 10%;
	color: red;
	font-weight: bold;
	z-index: 2;
}

#userBlockWrapper {
	position: absolute;
	top: 15%;
	left: 3%;
	width: 20%;
	background-color: #082e4d;
	text-align: center;
	color:white;
}

.userBlock.create.container > table,
.userBlock.manage.display > table {
	margin-left: auto;
	margin-right: auto;
}

.userBlock.manage.display {
	position: relative;
}

.userBlock.manage.delete {
	position: absolute;
	left: 10px;
	top: 10px;
}

.userBlock.create.cell,
.userBlock.manage.cell {
	height: 40px;
	width: 40px;
	background-color: lightgray;
}

.userBlock.create.cell.on,
.userBlock.manage.cell.on {
	background-color: cornflowerblue;
}
