@font-face {
    font-family: "SF";
    src: url('../ressources/fonts/San_Francisco_Display_Thin.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "SF";
    src: url('../ressources/fonts/San_Francisco_Display_Bold.ttf');
    font-weight: bold;
}
body {
    margin: 0;
    font-family: SF;
    font-size: 1.2em;
}
div {
    display: block;
}
.page_header {
    width: 100%;
    text-align: center;
    border-bottom: 7px solid;
}
.logo_header {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.logo_header img {
    margin: -30px;
    width: 200px;
    height: 200px;
}
.header_nav {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 32px;
}
.header_nav_liste {
    list-style-type: none;
}
.header_nav_liste li {
    float: left;
    padding-right: 17px;
}
.primary_nav {
    position: block;
    overflow-y: auto;
}
.primary_nav_liste {
    list-style: none;
    padding-top: 20px;
    margin-left: 20px;
}
.primary_nav_liste li {
    padding-top: 0px;
}
.body_cont {
    width: 100%;
    text-align: center;
    border-bottom: 7px solid;
}
.primary_nav {
    display: inline-block;
    position: absolute;
    text-align: left;
    left: 0;
    padding-right: 5px;
    margin: 0;
}
.primary_section {
    display: inline-block;
    border-right: 7px solid;
    border-left: 7px solid;
}
.primary_section img {
    height: 450px;
    margin-bottom: -5px;
    /*dégueu mais bon*/
}
