@font-face {
	font-family: "Atelas";
	src: url('../ressources/fonts/Atelas.ttf');
}

.header_cont {
	width: 100%;
	position: fixed;
	background-color: white;
	border-bottom: 1px #CCC solid;
	top: 0px;
	left: 0px;
	padding-top: 1em;
	padding-bottom: 1em;
}

header {
	height: auto;
	margin: 0px auto;
	text-align: center;
}

h1 {
	display: inline;
	font-size: 4em;
	font-family: "Atelas";
}

.body_cont {
	margin-top: 8em;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.actions {
	text-align: center;
}

#seq_toggleRead {
	width: 30px;
}

#instruments .playing {
	border: solid blue 2px;
}

#instruments td {
	width: 40px;
	height: 40px;
	border: solid white 2px;
}
