---
layout: default
---

<!-- From https://github.com/midzer/urban-theme/blob/master/_includes/preview.html -->

<style>
.preview-panel {
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid transparent;

    a{
        color: #111;
    }
    
    &:hover {
        border: 1px solid #e8e8e8;
    }
}

/* From https://vidler.app/blog/website-design/how-to-create-a-responsive-square-image-with-css/ */
.img-container {
  position: relative;
}

.img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


/* Grid */

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
</style>

<style>
	.filter-item.active {
		background-color: lightgreen;
	}

	.filter-item {
		border-radius: 15px;
		padding: 7px;
	}

	.grid-filter {
		margin-bottom: 30px;
	}

	.grid-wrapper .preview-panel.show{
		animation: fadeIn 0.5s ease;
		opacity: 1;
		display: block;
	}
	@keyframes fadeIn{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}

	.grid-wrapper .preview-panel.visiblehide{
		animation: fadeOut 0.3s ease;
		opacity: 0;
	}
	@keyframes fadeOut{
		0%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
	}

	.grid-wrapper .preview-panel.hide{
		display: none;
	}

</style>

<div class="grid-filter">
	<span class="filter-item active" data-filter="bobbin-lace"><img src="/assets/hobbies/bobbin-lace.png" width="15px">Bobbin Lace (<span class="count"></span>)</span>
	<span class="filter-item active" data-filter="embroidery"><img src="/assets/hobbies/embroidery.png" width="15px">Embroidery (<span class="count"></span>)</span>
	<span class="filter-item active" data-filter="tapestry"><img src="/assets/hobbies/tapestry.png" width="15px">Weaving (<span class="count"></span>)</span>
	<span class="filter-item active" data-filter="nettles"><img src="/assets/hobbies/nettles.png" width="15px">Nettles (<span class="count"></span>)</span>
</div>

<div class="grid-wrapper">
{% assign sorted = site.hobbies | reverse %}
{% for post in sorted -%}
    <div class="preview-panel {{ post.craft }} show">
    	<a href="{{ post.url | prepend: site.baseurl }}">
	        <div class="img-container">
	            <img src="{{ post.url | split: '/' | slice: 0,3 | join: '/' }}/global.jpg">
	        </div>
	        <!--div> <img src="/assets/hobbies/{{post.craft}}.png" width="15px"> {{ post.title }}</div-->
        </a>
   </div>
{% endfor %}
</div>

<script>

function main() {
	let counts = [...document.getElementsByClassName('preview-panel')].map((e) => {
			return e.classList[1]
		}).reduce((result, val) => {
			if (result[val]) {
				result[val] ++;
			} else {
				result[val] = 1;
			}
			return result;
		}, {});

	for (let e of document.querySelectorAll(".filter-item")) {
		e.getElementsByTagName('span')[0].innerHTML = counts[e.getAttribute('data-filter')];
	}

	document.querySelector('.grid-filter').addEventListener('click', (e) => {
		let cl = e.target.classList;
		const filterValue = event.target.getAttribute("data-filter");
		const galleryItems = [...document.querySelectorAll('.preview-panel')].filter((e) => e.classList.contains(filterValue));

		if (cl.contains('active')) {
			cl.remove('active');
			galleryItems.forEach((item) => {
				item.classList.remove('show');
				item.classList.add('visiblehide');
				item.addEventListener(
					'animationend',
					(e) => {item.classList.add('hide');},
					{once: true, passive: false, capture: false});
			});

		} else {
			cl.add('active');
			galleryItems.forEach((item) => {
				item.classList.remove('visiblehide');
				item.classList.remove('hide');
				item.classList.add('show');
			});
		}
	});
}

document.body.onload = main
</script>